@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* background-color: white; */
}

body{
  background: rgb(255,255,255);
background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(249,221,165,0.6335127801120448) 50%, rgba(255,255,255,1) 100%);
}

.hr {
  width: 90%;
  margin: 5px auto;
  border: .1px solid #e7e7e7;
}