@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* background-color: white; */
}

.hr {
  width: 90%;
  margin: 5px auto;
  border: .1px solid #e7e7e7;
}